xsds/another.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (Altova) by Ahold Business Supp Office -->
<!-- W3C Schema generated by XMLSpy -->
<!-- History (as visible on screen):
     v0.7  – Represents the schema of the Trusted Supplier 2600 message for the DCM Project
     v0.5  – Changed datatype SupplierDepotASNSettingNo
     v0.4  – Added WarehouseNo, renamed message/segment; PartyNo -> SupplierDepotNo
     v0.3  – Restriction type updates
     v0.2  – Minor fixes
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- Root -->
  <xs:element name="Payload">
    <xs:annotation>
      <xs:documentation>The information content of the message</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>

        <xs:element name="MessageNo" type="MessageNumberType">
          <xs:annotation>
            <xs:documentation>
              Identifies the message in the Ahold sending system. Enables tracing of messages in support.
            </xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="MessageCreationDatetime" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>
              The Date/Time when the sending system created the message.
            </xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="OpCo" type="OpCoType">
          <xs:annotation>
            <xs:documentation>OpCo GLN.</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="SupplierDepotASNSetting" type="SupplierDepotASNSettingType">
          <xs:annotation>
            <xs:documentation>
              Specifies the trusted supplier information for party and sender
            </xs:documentation>
          </xs:annotation>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Complex Types -->

  <xs:complexType name="OpCoType">
    <xs:sequence>
      <xs:element name="GLN" type="GLNType"/>
      <xs:element name="CountryCode" type="CountryCodeType">
        <xs:annotation>
          <xs:documentation>ISO 3166 2-letter country code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SupplierDepotASNSettingType">
    <xs:sequence>
      <xs:element name="WarehouseNo" type="WarehouseNoType">
        <xs:annotation>
          <xs:documentation>Identifying number of the warehouse (OpCo specific).</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="SupplierDepotNo" type="SupplierDepotNoType">
        <xs:annotation>
          <xs:documentation>Identifying number of the party.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="GLNsender" type="GLNType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Identifies the GLN of the sending party depot</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="TrustedForNormalASNFlag" type="FlagType">
        <xs:annotation>
          <xs:documentation>Identifies if the party is trusted for normal ASN.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="TrustedForTransitASNFlag" type="FlagType">
        <xs:annotation>
          <xs:documentation>Identifies if the party is trusted for transito ASN.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Simple Types -->

  <xs:simpleType name="CountryCodeType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SupplierDepotNoType">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="8"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GLNType">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="13"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MessageNumberType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FlagType">
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="WarehouseNoType">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="3"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>