xsds/payload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Edited with XMLSpy v2007 sp2 (http://www.altova.com) by Ahold Business Supp Office -->
<!-- W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com) -->
<!--
  ~v0.21  Bart Lemstra: This represents the schema of the Noncon Score 2501 message which is introduced for the DCM Project.
  ~v0.32  Bart Lemstra: Dated: 19.02.106: Updated (1) PartyType and (2) removed PartyTypeType restriction base
  ~v0.43  Bart Lemstra: Dated: 13.04.106: renamed segments (SupplierDepotScore) and segment, renamed PartyNo into SupplierDepotNo
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- ===================== Root ===================== -->
  <xs:element name="Payload">
    <xs:annotation>
      <xs:documentation>
        The information content of the message
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageNo" type="MessageNumberType">
          <xs:annotation>
            <xs:documentation>
              Identifies the message in the Ahold sending system. Enables tracing of messages in support.
            </xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="MessageCreationDateTime" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>
              The Date/Time when the sending system created the message.
            </xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="OpCo" type="OpCoType">
          <xs:annotation>
            <xs:documentation>OpCo GLN</xs:documentation>
          </xs:annotation>
        </xs:element>

        <xs:element name="SupplierDepotScore" type="SupplierDepotScoreType">
          <xs:annotation>
            <xs:documentation>
              Specifies the trusted supplier information for party and sender.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============== Complex Types =================== -->

  <xs:complexType name="SupplierDepotScoreType">
    <xs:sequence>
      <xs:element name="SupplierDepotNo" type="SupplierDepotNoType">
        <xs:annotation>
          <xs:documentation>Identifying number of the party.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Score" type="ScoreType">
        <xs:annotation>
          <xs:documentation>Identifies the GLN of the sending party depot.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OpCoType">
    <xs:sequence>
      <xs:element name="GLN" type="GLNType"/>
      <xs:element name="CountryCode" type="CountryCodeType">
        <xs:annotation>
          <xs:documentation>ISO 3166 2-letter country code.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ============== Simple Types ==================== -->

  <xs:simpleType name="GLNType">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="13"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Alternative GLN preserving leading zeros -->
  <!--
  <xs:simpleType name="GLNType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{13}"/>
    </xs:restriction>
  </xs:simpleType>
  -->

  <xs:simpleType name="CountryCodeType">
    <xs:restriction base="xs:string">
      <xs:minLength value="2"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MessageNumberType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SupplierDepotNoType">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="8"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ScoreType">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="3"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
